@font-face {
  font-family: myFirstFont;
  src: url(/font/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf);
}

*{
  margin-top: 0px;
  margin-left: 0px;
  font-family: myFirstFont;
}

.contentPage {
  margin-top: 50px;
  /* background-color: aquamarine; */
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contactForm {
  background-color: rgba(0,0,0,0.1);
  border-radius: 10px;
  display: flex;
  width: 80%;
  flex-direction: column;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.contactForm input {
  font-size: 21px;
  border: none;
  background-color: #3d4659;
  color: white;
  border-radius: 6px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
  outline-color: #34e89e;
}

.contactForm textarea {
  resize: none;
  font-size: 21px;
  background-color: #3d4659;
  outline-color: #34e89e;
  border: none;
  color: white;
  border-radius: 6px;
  margin-bottom: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.contactForm button {
  margin-top: 10px;
  background-color: #34e89e;
  border-radius: 6px;
  font-size: 21px;
  outline-color: #34e89e;
  border: none;
  color:white;
  cursor: pointer;
}

.contactForm button:hover {
  box-shadow: 0 4px 8px 0 rgba(52, 232, 158, 0.2), 0 6px 20px 0 rgba(52, 232, 158, 0.01);
}

footer {
  /* background-color: aquamarine; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  background-color: #34e89e;
  text-align: center;
  font-size: 21px;
  color: white;
  border-radius: 3px;
  margin-left: 5px;
  padding: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

footer a:hover {
  box-shadow: 0 4px 8px 0 rgba(52, 232, 158, 0.2), 0 6px 20px 0 rgba(52, 232, 158, 0.01);
}