@font-face {
  font-family: myFirstFont;
  src: url(/public/font/Akaya_Kanadaka/AkayaKanadaka-Regular.ttf);
}

*{
  margin-top: 0px;
  margin-left: 0px;
  font-family: myFirstFont;
}

.contentPage {
  margin-top: 50px;
  /* background-color: aquamarine; */
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.contentPage img {
  width: 250px;
  height: 250px;
  border-radius: 360px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
}

.desc h1 {
  font-size: 51px;
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap;
  border-right: 1px transparent;
  animation: typing 3s steps(25) forwards, blink 1s step-end infinite;
}

@keyframes typing {
  from{
    width: 0;
  }
  to{
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.desc p {
  font-size: 30px;
}

footer {
  /* background-color: aquamarine; */
  width: 100vw;
  display: flex;
  justify-content: center;
}

footer a {
  text-decoration: none;
  background-color: #48A9A6;
  text-align: center;
  font-size: 21px;
  color: white;
  border-radius: 3px;
  padding: 5px;
}