.Navbar {
    /* background-color: aqua; */
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
    font-size: 48px;
    /* background-color: aquamarine; */
    border: none;
    background-color: white;
    /* cursor: pointer; */
}

.options {
    font-size: 48px;
    /* background-color: aquamarine; */
    border: none;
    background-color: white;
    cursor: pointer;
}