.Navbar {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    /* background-color: #34e89e; */
    align-items: center;
    margin-bottom: -40px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01); */
}

.title {
    font-size: 48px;
    border: none;
    background: none;
    color: white;
}

.options {
    font-size: 68px;
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}

.dropdownContainer {
    position: absolute;
    /* background-color: aquamarine; */
    width: 100vw;
    display: none;
    /* display: flex; */
    justify-content: right;
    margin-top: -25px;
    /* padding-right: 50px; */
}

.dropdown {
    background-color: #232833;
    width: 130px;
    padding-top: 10px;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.01); */
    box-shadow: 0 4px 8px 0 rgba(52, 232, 158, 0.2), 0 6px 20px 0 rgba(52, 232, 158, 0.01);
}

.dropdown ul {
    list-style-type: none;
}

.dropdown ul li a {
    text-align: center;
    text-decoration: none;
    color: white;
}

.dropdown ul li a:hover {
    color: #34e89e;
}