body {
    /* background:linear-gradient(180deg, #ffffff, #3D4C68); */
    /* background:linear-gradient(180deg, #232833, #6495ED); */
    /* background:linear-gradient(180deg, #232833, #00FFFF); */
    background:linear-gradient(180deg, #232833, #0f3443);
    /* background:linear-gradient(180deg, #ffffff, cornflowerblue); */
    background-attachment: fixed; /*edit*/
}

*::selection {
    background-color: #34e89e;
    color: white; /* Optional: Change text color */
}